@media screen and (max-width: 1200px) {
    #top-navigation ul li {
        margin: 0 10px;
    }

    #closeBtn {
        font-size: 20px;
    }

    #popup span {
        font-size: 30px;
    }

    #popup p {
        font-size: 12px;
    }

    #popup-email {
        font-size: 12px;
    }

    #popup-button {
        font-size: 12px;
    }
}

@media screen and (max-width: 992px) {
    #top-navigation ul li {
        margin: 0 5px;
    }

    #service-wrapper {
        flex-wrap: wrap;
    }

    .service {
        flex-basis: 48%;
    }

    .teacher {
        flex-basis: 48%;
    }

    #teacher-wrapper {
        flex-wrap: wrap;
    }

    #Portfolio-wrapper {
        grid-template-columns: repeat(2, auto);
    }

    .footer-contact {
        flex-basis: 48%;
    }

    footer {
        flex-wrap: wrap
    }
}

@media screen and (max-width: 768px) {
    .display-none {
        display: none;
    }

    a#logo-wrapper img {
        height: 60px;
    }

    #parent h1 {
        font-size: 55px;
    }

    #closeBtn {
        font-size: 15px;
    }

    #popup span {
        font-size: 20px;
    }

    #popup p {
        font-size: 12px;
    }

    #popup-form {
        width: 50%;
    }

    #popup-email {
        font-size: 10px;
        padding: 10px 5px;
    }

    #popup-button {
        font-size: 10px;
    }

    .service {
        flex-basis: 100%;
    }

    #date-wrapper {
        flex-wrap: wrap;
    }

    .date-holder {
        flex-basis: 47%;
    }

    #comment-wrapper {
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
    }

    .comment {
        width: 80%;
    }

    .top-comment-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .avatar {
        width: 100px;
        height: 100px;
    }

    .comment-info {
        text-align: center;
        margin-top: 15px;
    }

    .top-comment-wrapper img:last-child {
        position: absolute;
        left: 5px;
        top: 30px;
        width: 50px;
    }

    .comment p {
        text-align: center;
        font-size: 15px;
        line-height: 30px;
    }

    .comment-choose {
        margin-top: 30px;
    }

    #connect-us {
        flex-wrap: wrap;
        justify-content: center;
    }

    .connect-show {
        flex-basis: 48%;
    }
}

@media screen and (max-width: 578px) {
    #search-form input {
        width: 100%;
        font-size: 14px;
    }

    #search-form a {
        padding: 5px 10px;
        top: 37px;
    }

    .date-holder {
        flex-basis: 100%;
    }

    #comment-wrapper {
        flex-direction: column;
    }

    #filter-nav ul {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        border-radius: 30px;
    }


    #Portfolio-wrapper {
        grid-template-columns: repeat(1, auto);
    }


    .teacher {
        flex-basis: 100%;
    }


    #contact-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }


    #connect-us {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-bottom: 0;
    }


    .connect-show {
        width: 100%;
        flex-basis: unset;
        text-align: center;
        align-items: center;
    }


    .connect-show i {
        font-size: 50px;
        margin-bottom: 20px;
    }


    #sing-in {
        width: 100%;
    }


    #sing-in form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }


    #sing-in textarea {
        height: 180px;
    }

    #sing-in-btn {
        top: 465px;
        right: 0;
    }

    .footer-contact {
        flex-basis: 100%;
    }

    #footer-brands li {
        margin-right: 25px;
    }

    #navigation-menu {
        width: 90%;
        min-height: auto;
        top: 45%;
    }


    #navigation-menu li a {
        font-size: 18px;
        padding: 18px 20px;
    }

    .arrow-link {
        width: 24px;
        height: 24px;
        min-width: 24px;
        font-size: 12px;
    }
}